.block-text-image {
    padding-bottom: 20px;

    @media (min-width: 1200px){
        .container {
            max-width: 970px;
        }
    }


    @media screen and (max-width: 767px) {
        padding-top: 3rem !important;
    }

    .section-title {
        // margin-bottom: 40px !important;
        margin-bottom: 0;

        @media screen and (max-width: 430px) {
            margin-bottom: 2rem !important;
        }

        @media screen and (max-width: 410px) {
            margin-bottom: 3.2rem !important;
        }
    }

    & .section:nth-child(even) {
        flex-direction: row-reverse;
        text-align: left;
    }

    .section {
        text-align: right;

        @media screen and (max-width: 767px) {
            margin-bottom: 2rem;
            display: inherit;
        }

        &-text {
            @media screen and (max-width: 767px) {
                font-size: 16px;
                max-width: 100%;
                display: block;
                text-align: center;
            }

            h1,
            h2,
            h3, h4 {
                font-family: 'Roboto Slab',serif;
            }

            h4 {
                font-size: 33px;

                @media screen and (max-width: 767px) {
                font-size: 26px;
                margin-bottom: 0;
                }
            }

            p {
                margin-top: 1rem;
                font-size: 22px;

                @media screen and (max-width: 1000px) {
                    font-size: 17px;
                }
            }

            ul {
                margin-left: 40px !important;
            }
        }

        &-image {
            height: 290px;
            overflow: hidden;
            position: relative;
            display: flex;

            @media screen and (max-width: 1000px) {
                height: 290px;
            }

            @media screen and (max-width: 950px) {
                height: 275px;
            }

            @media screen and (max-width: 767px) {
                height: 200px;
                display: block;
                max-width: 100%;
            }

            // @media screen and (max-width: 430px) {
            //     height: 350px !important;
            // }

            img {
                display: block;
                max-width: 200px;
                max-height: 200px;
                margin: auto;
            }
        }
    }
}
