main#blocks {
    .block-text {
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: -25%;
        background-position-y: bottom;

        p {
            font-size: 1.3rem;
        }

        .container {
            max-width: 435px !important;
        }

        &.bg-primary {
            color: $color-secondary;
        }

        .asterisk {
            color: #7f8acb !important;
            opacity: 1;
        }
    }
}
