.block-sets {
    .section-title {
        color: #fff !important;
        margin-bottom: 3rem;
    }

    .set {
        &-title, &-price {
            color: $color-secondary;
            margin: 0;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
        }

        &-title {
            font-size: 2rem;

            @media screen and (max-width: 767px) {
                text-align: center;
            }
        }

        &-price {
            font-size: 8rem;

            @media screen and (max-width: 930px) {
                font-size: 6rem;
            }

            @media screen and (max-width: 767px) {
                text-align: center;
                font-size: 85px;
            }

            @media screen and (max-width: 380px) {
                font-size: 50px;
            }
        }

        .nav-tabs {
            border-bottom: inherit !important;
            margin-bottom: 1rem;

            .nav-link {
                border-radius: 0 !important;
                flex-grow: 1;
                text-align: center;
                color: #000;
                border-color: #000 !important;
                margin-right: -1px;

                &:hover {
                    cursor: pointer;
                }

                &.active, &:hover {
                    color: #fff;
                    background-color: #000;
                }
            }
        }

        .block-prix {
            margin-top: -50px;

            @media screen and (max-width: 767px) {
                max-width: 100%;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                margin-top: 30px;
            }
        }

        .block-nav-set {
            padding-top: 25px;

            ul {
                list-style: none;
                margin-bottom: 30px;

                li {
                    padding-left: 2em;
                    margin-bottom: 20px;
                }

                li:before {
                    content: url(./assets/images/Tracé252.svg);
                    display: inline-block;
                    margin-left: -2em;
                    width: 2em;
                    margin-right: 2rem;
                }
            }

            @media screen and (max-width: 767px) {
                max-width: 100%;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
            }

            nav {
                @media (max-width: 767px) {
                    width: inherit !important;
                }
            }

            .btn {
                @media screen and (max-width: 767px) {
                    display: block;
                }
            }
        }
    }
}
