main#blocks section.block-services {
    &.bg-primary {
        .service-icon {
            color: $color-primary-darker;

            @media screen and (max-width: 767px) {
                max-width: 80%;
            }

            @media screen and (max-width: 340px) {
                margin-top: 0.6rem;
            }
        }
    }
    .row {
        justify-content: center;
        max-width: 490px;
        margin: auto!important;
    }

    .service-title {
        font-size: 22px;

        // @media screen and (max-width: 767px) {
        //     font-size: 30px;
        // }

        // @media screen and (max-width: 380px){
        //     font-size: 2Opx!important;
        // }
        
        @media screen and (max-width: 380px){
            font-size: 18px!important;
        }
    }

    .service-text {
        font-size: 22px;

        @media screen and (max-width: 767px) {
            font-size: 15px;
        }
    }

    .service {
        margin-bottom: 2rem;

        @media screen and (max-width: 530px) {
            margin-bottom: 2rem !important;
        }

        &-icon {
            max-width: 100%;
            margin: 0 auto;
            display: block;
        }
    }
}
