@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
.block-faq {
  @media screen and (min-width: 992px){
    .container{
      max-width: 800px;
   }    
  }
  .section-title {
    padding-bottom: 0 !important;

    text-align: left !important;
  }

  .faq-accordion {
    .card {
      border: none;
      background-color: transparent;
    }

    .card-header {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $color-primary;
      color: $color-primary;
      padding-left: 0;
      padding-right: 0;
      font-size: 1.3rem;

      @media screen and (max-width: 767px) {
        font-size: 19px;
      }

      &-expand {
        color: $color-primary;
        float: right;
        &:before{
          font-family: FontAwesome;
          // content:"\f068";
        }
      }
      // &.collapsed{
      //   .card-header-expand:before{
      //     font-family: FontAwesome;
      //     content:"\f068";
      //   }
      // }
      &:hover {
        cursor: pointer;
      }
      
    }

    .answer {
      @media screen and (max-width: 767px) {
        font-size: 15px;
      }
    }
  }
}

.icons-plus:before{
    font-family: FontAwesome;
    content:"\f067";
}
.icons-moin:before{
  font-family: FontAwesome;
  content:"\f068";
}