.block-link {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  position: relative;

  @media screen and (max-width: 991px) {
    background-image: inherit !important;
  }

  .block-title-link {
    padding-bottom: 2rem;

    @media screen and (max-width: 991px) {
      padding-right: 15px;
    }

    @media screen and (max-width: 991px) {
      max-width: 100%;
      flex: inherit;
    }

    a {
      @media screen and (max-width: 991px) {
        display: block;
        margin: auto;
      }
    }
  }

  .section-title {
    color: $color-dark !important;
    font-weight: 600 !important;
    text-align: left !important;
  }

  .section-text {
    background-color: rgba($color-white, 0.9);
    border-radius: 3px;
    padding: 30px;
    margin-bottom: 15px !important;
    text-align: left !important;
    text-transform: initial !important;
    font-weight: 300;
    font-style: italic;
    font-size: 21px;
    width: 355px;
    line-height: 1.5;
    h2 {
      color: $color-primary;
      font-size: 21px;
      font-weight: 600;
      margin-bottom: 1.5rem;
      font-style: normal;
    }

    @media screen and (max-width: 1015px) {
      // font-size: 1.5rem !important;
      // line-height: 2rem;
      position: relative;
    }

    @media screen and (max-width: 991px) {
      font-size: 28px !important;
      line-height: 30px;
      text-align: center !important;
      margin-bottom: 2rem !important;
    }

    @media screen and (max-width: 480px) {
      font-size: 22px !important;
      line-height: 28px;
    }
  }

  .btn {
    display: block;
    width: 355px;
  }
}

.Blanc {
  @media screen and (max-width: 991px) {
    background-image: inherit !important;
  }

  .block-title-link {
    @media screen and (max-width: 867px) {
      padding-top: 50px;
      padding-right: 15px;
    }
  }
}

.bg-primary {
  // padding: 1rem 3rem 3rem 3rem!important;
  background-size: cover;
  background-color: $color-dark !important;

  @media screen and (max-width: 767px) {
    background-image: inherit !important;
  }

  .section-text {
    color: $color-secondary !important;
    font-size: 22px !important;
    line-height: 35px !important;
  }
}
.asterisk {
  margin-top: 115px !important;
}
.bg-secondary {
  // padding: 1rem 3rem 3rem 3rem!important;
  background-size: cover;

  @media screen and (max-width: 991px) {
    background-image: inherit !important;
  }

  .block-title-link {
    @media screen and (max-width: 991px) {
      padding-right: 15px;
    }
  }
}
